body{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  background-color:rgb(35,56,75);
  border-radius:15px;
  max-width:100%;
}
.buttons{
  display: grid;
  grid-template-columns: repeat(4,0.23fr);
  gap:10px;
  margin:35px;
  padding:10px;
  border-radius:500px;
  width:300px;
  height: 300px;

}
#display{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 2px;
  border-radius: 5px;
  width:95%;
  height:200px;
  font-size: 40px;
  font-weight: bold;
}