*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
body{
  background: url("image.jpg");
  color: whitesmoke;
}
.logo{
  width: 45px;
  height: 45px;
}
nav{
  background-color: rgb(6,10,30);
  color: whitesmoke;
  padding: 15px;
  position: fixed; 
  left:0;
  top: 0;
  z-index: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
}
#menu-toggle{
  display: none;
}
.menu-btn{
  font-size: 30px;
  display: inline-block;
}
.nav-link{
  display: none;
  background-color: rgba(6,10,30,0.7);
  padding: 10px 0;
  position: absolute;
  top: 50px; 
  left: 0;
  width: 100%;
  border-radius: 8px;
}
.nav-link a{
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
  transition: background 0.2s ease;
}
#menu-toggle:checked ~ .nav-link{
  display: block;
}
.menu-btn::before{
  content: "☰";
}
#menu-toggle:checked ~ .menu-btn::before{
  content: "✖";
}
nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li a{
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}
nav li a:hover{
  color: mediumpurple;
}
.main{
  text-align: center;
  font-size: 60px;
  margin-top: 110px;
}
.spann{
  color: mediumpurple;
}
.qoute{
  text-align: center;
}
.moving{
  font-size: 1.5rem;
  font-weight: bold;
  background: linear-gradient(90deg,grey, mediumpurple,white);
  -webkit-background-clip: text;
  color: transparent;
  animation: slide 9s linear infinite;
  white-space: nowrap;
  position: fixed;
  margin-top: 70px;
}
 @keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

